# Provide your actual variable values in terraform.tfvars
# Make sure this file is included in .gitignore
project_id   = "your-gcp-project-id"
region       = "your-region"
region_for_cloud_functions = "your_region_for_cloud_functions"
db_name      = "your-db-name"
db_user      = "your-db-user"
db_password  = "your-db-password"
